<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779066729365-3thn9drfps01lpv2s5qc81qb3065logs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779066729365-3thn9drfps01lpv2s5qc81qb3065logs</string>
	<key>API_KEY</key>
	<string>AIzaSyB4tvUmnC7magUecdhy9UKsKqQfdgurzqM</string>
	<key>GCM_SENDER_ID</key>
	<string>779066729365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petshopFront</string>
	<key>PROJECT_ID</key>
	<string>petshop-backend-9eec8</string>
	<key>STORAGE_BUCKET</key>
	<string>petshop-backend-9eec8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779066729365:ios:a2741adfe93574e8078c9c</string>
</dict>
</plist>